# Ignore everything
*

# But do not Ignore these files...
!.gitignore

!src
!src/**

!libs
!libs/**

!HelloWorld/
!HelloWorld/**

!*.txt
!*.md
!*.jpg
!*.png


# MAC HIDDEN FILES
.DS_Store


#Additional Specific files to Ignore
*.iml
*.idea/